In [1]:
#présentation de ce projet il à pour but de sensibiliser au réchaufement climatique

In [2]:
import numpy as np 
import pandas as pd 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
import seaborn as sns
import pymongo
from matplotlib import pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
GlobalLandTemperaturesByCity_df = pd.read_csv('GlobalLandTemperaturesByCity.csv', sep=',')

In [4]:
GlobalLandTemperaturesByCity_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [5]:
df_Argentina= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Argentina']

In [ ]:
#df_Argentina.isnull().sum()/len(df_Argentina)*100

In [ ]:
df_India= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='India']

In [ ]:
#df_India.isnull().sum()/len(df_India)*100

In [9]:
df_Germany= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Germany']

In [10]:
df_Germany.isnull().sum()/len(df_Germany*100)

dt                               0.000000
AverageTemperature               0.022538
AverageTemperatureUncertainty    0.022538
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [11]:
df_Turkey= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Turkey']

In [12]:
df_Turkey.isnull().sum()/len(df_Turkey)*100

dt                               0.000000
AverageTemperature               2.142296
AverageTemperatureUncertainty    2.142296
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [13]:
df_Japan= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Japan']

In [14]:
df_Japan.isnull().sum()/len(df_Japan)*100

dt                               0.000000
AverageTemperature               0.613937
AverageTemperatureUncertainty    0.613937
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [15]:
df_france= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='France']

In [16]:
df_france.isnull().sum()/len(df_france)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [17]:
df_Mexico= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Mexico']

In [18]:
df_Mexico.isnull().sum()/len(df_Mexico)*100

dt                               0.000000
AverageTemperature               0.734873
AverageTemperatureUncertainty    0.734873
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [19]:
df_Russia= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Russia']

In [20]:
df_Russia.isnull().sum()/len(df_Russia)*100

dt                               0.000000
AverageTemperature               2.725515
AverageTemperatureUncertainty    2.725515
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [21]:
df_China= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='China']

In [22]:
df_China.isnull().sum()/len(df_China)*100

dt                               0.000000
AverageTemperature               1.047352
AverageTemperatureUncertainty    1.047352
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [23]:
df_Brazil= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Brazil']

In [24]:
df_Brazil.isnull().sum()/len(df_Brazil)*100

dt                               0.000000
AverageTemperature               5.032802
AverageTemperatureUncertainty    5.032802
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [25]:
df_Italy= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Italy']

In [26]:
df_Italy.isnull().sum()/len(df_Italy)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [27]:
df_Mexico= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Mexico']

In [28]:
df_Mexico.isnull().sum()/len(df_Mexico)*100

dt                               0.000000
AverageTemperature               0.734873
AverageTemperatureUncertainty    0.734873
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [29]:
df_SouthAfrica= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='South Africa']

In [30]:
df_SouthAfrica.isnull().sum()/len(df_SouthAfrica)*100

dt                               0.000000
AverageTemperature               0.422116
AverageTemperatureUncertainty    0.422116
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [31]:
df_Indonesia= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Indonesia']

In [32]:
df_Indonesia.isnull().sum()/len(df_Indonesia)*100

dt                                0.000000
AverageTemperature               15.455291
AverageTemperatureUncertainty    15.455291
City                              0.000000
Country                           0.000000
Latitude                          0.000000
Longitude                         0.000000
dtype: float64

In [33]:
df_SaudiArabia= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Saudi Arabia']

In [34]:
df_SaudiArabia.isnull().sum()/len(df_SaudiArabia)*100

dt                               0.000000
AverageTemperature               5.521429
AverageTemperatureUncertainty    5.521429
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [35]:
df_Canada= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Canada']

In [36]:
df_Canada.isnull().sum()/len(df_Canada)*100

dt                               0.000000
AverageTemperature               5.303201
AverageTemperatureUncertainty    5.303201
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [37]:
df_UnitedKingdom= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='United Kingdom']

In [38]:
df_UnitedKingdom.isnull().sum()/len(df_UnitedKingdom)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [39]:
df_Austalia= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='Australia']

In [40]:
df_Austalia.isnull().sum()/len(df_Austalia)*100

dt                               0.000000
AverageTemperature               1.169324
AverageTemperatureUncertainty    1.169324
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [41]:
df_UnitedState= GlobalLandTemperaturesByCity_df.loc[GlobalLandTemperaturesByCity_df.Country =='United States']

In [42]:
df_UnitedState.isnull().sum()/len(df_UnitedState)*100

dt                               0.000000
AverageTemperature               3.748787
AverageTemperatureUncertainty    3.748787
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [ ]:
import pandas as pd
data = {'Country':['United States','France','Australia','Brazil','Italy','Mexico','Japan',]}
df = pd.DataFrame(data)
df

In [43]:
globalLandTemperaturesByCountry_df = pd.read_csv('GlobalLandTemperaturesByCountry.csv', sep=',')

In [44]:
globalLandTemperaturesByCountry_df.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland
9  1744-08-01                 NaN                            NaN   Åland

In [45]:
globalLandTemperaturesByCountry_df.isnull().sum()/len(globalLandTemperaturesByCountry_df)*100

dt                               0.000000
AverageTemperature               5.654225
AverageTemperatureUncertainty    5.526251
Country                          0.000000
dtype: float64

In [46]:
df_Canada4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Canada']

In [47]:
df_Canada4.isnull().sum()/len(df_Canada4)*100

dt                                0.000000
AverageTemperature               14.858892
AverageTemperatureUncertainty    14.858892
Country                           0.000000
dtype: float64

In [48]:
df_Russia4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Russia']

In [49]:
df_Russia4.isnull().sum()/len(df_Russia4)*100

dt                               0.000000
AverageTemperature               0.660884
AverageTemperatureUncertainty    0.660884
Country                          0.000000
dtype: float64

In [50]:
df_UnitedState4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='United States']

In [51]:
df_UnitedState4.isnull().sum()/len(df_UnitedState4)*100

dt                                0.000000
AverageTemperature               15.606936
AverageTemperatureUncertainty    15.606936
Country                           0.000000
dtype: float64

In [52]:
df_India4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='India']

In [53]:
df_India4.isnull().sum()/len(df_India4)*100

dt                               0.00000
AverageTemperature               4.01837
AverageTemperatureUncertainty    4.01837
Country                          0.00000
dtype: float64

In [54]:
df_Brazil4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Brazil']

In [55]:
df_Brazil4.isnull().sum()/len(df_Brazil4)*100

dt                               0.000000
AverageTemperature               0.779459
AverageTemperatureUncertainty    0.779459
Country                          0.000000
dtype: float64

In [56]:
df_Japan4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Japan']

In [57]:
df_Japan4.isnull().sum()/len(df_Japan4)*100

dt                               0.000000
AverageTemperature               0.048239
AverageTemperatureUncertainty    0.048239
Country                          0.000000
dtype: float64

In [58]:
df_Italy4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Italy']

In [59]:
df_Italy4.isnull().sum()/len(df_Italy4)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
Country                          0.000000
dtype: float64

In [60]:
df_Mexico4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Mexico']

In [61]:
df_Mexico4.isnull().sum()/len(df_Mexico4)*100

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
Country                          0.0
dtype: float64

In [62]:
df_Germany4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Germany']

In [63]:
df_Germany4.isnull().sum()/len(df_Germany4)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
Country                          0.000000
dtype: float64

In [64]:
df_France4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='France']

In [65]:
df_France4.isnull().sum()/len(df_France4)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
Country                          0.000000
dtype: float64

In [66]:
df_China4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='China']

In [67]:
df_China4.isnull().sum()/len(df_China4)*100

dt                               0.000000
AverageTemperature               5.047455
AverageTemperatureUncertainty    5.047455
Country                          0.000000
dtype: float64

In [68]:
df_SouthAfrica4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='South Africa']

In [69]:
df_SouthAfrica4.isnull().sum()/len(df_SouthAfrica4)*100

dt                               0.000000
AverageTemperature               0.425306
AverageTemperatureUncertainty    0.425306
Country                          0.000000
dtype: float64

In [70]:
df_Indonesia4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Indonesia']

In [71]:
df_Indonesia4.isnull().sum()/len(df_Indonesia4)*100

dt                                0.000000
AverageTemperature               17.041943
AverageTemperatureUncertainty    17.041943
Country                           0.000000
dtype: float64

In [72]:
df_Mexico4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Mexico']

In [73]:
df_Mexico4.isnull().sum()/len(df_Mexico4)*100

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
Country                          0.0
dtype: float64

In [74]:
df_Mexico4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='France']

In [75]:
df_Mexico4.isnull().sum()/len(df_Mexico4)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
Country                          0.000000
dtype: float64

In [76]:
df_Canada4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Canada']

In [77]:
df_Canada4.isnull().sum()/len(df_Canada4)*100

dt                                0.000000
AverageTemperature               14.858892
AverageTemperatureUncertainty    14.858892
Country                           0.000000
dtype: float64

In [78]:
df_Turkey4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Turkey']

In [79]:
df_Turkey4.isnull().sum()/len(df_Turkey4)*100

dt                               0.000000
AverageTemperature               0.070423
AverageTemperatureUncertainty    0.070423
Country                          0.000000
dtype: float64

In [80]:
df_SaudiArabia4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Saudi Arabia']

In [81]:
df_SaudiArabia4.isnull().sum()/len(df_SaudiArabia4)*100

dt                               0.000000
AverageTemperature               2.830649
AverageTemperatureUncertainty    2.830649
Country                          0.000000
dtype: float64

In [82]:
df_Australia4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Australia']

In [83]:
df_Australia4.isnull().sum()/len(df_Australia4)*100

dt                               0.000000
AverageTemperature               0.258398
AverageTemperatureUncertainty    0.258398
Country                          0.000000
dtype: float64

In [84]:
df_Italy4= globalLandTemperaturesByCountry_df.loc[globalLandTemperaturesByCountry_df.Country =='Italy']

In [85]:
df_Italy4.isnull().sum()/len(df_Italy4)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
Country                          0.000000
dtype: float64

In [ ]:
frames = [df4_UnitedState, df4_France, df4_Austalia,df4_UnitedKingdon,df4_Canada,df4_SaudiArabia,df4_Indonesia,df4_SouthAfrica,
         df4_India,df4_Mexico,df4_Italy,df4_Brazil,df4_China,df4_Russia,df4_Mexico,df4_Japan,df4_Turkey,df4_Indonesia,df4_Germany]
result2 = pd.concat(frames)

In [86]:
GlobalLandTemperaturesByMajorCity_df = pd.read_csv('GlobalLandTemperaturesByMajorCity.csv', sep=',')

In [87]:
GlobalLandTemperaturesByMajorCity_df.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
5,1849-06-01,24.844,1.402,Abidjan,Côte D'Ivoire,5.63N,3.23W
6,1849-07-01,24.058,1.254,Abidjan,Côte D'Ivoire,5.63N,3.23W
7,1849-08-01,23.576,1.265,Abidjan,Côte D'Ivoire,5.63N,3.23W
8,1849-09-01,23.662,1.226,Abidjan,Côte D'Ivoire,5.63N,3.23W
9,1849-10-01,25.263,1.175,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [88]:
GlobalLandTemperaturesByMajorCity_df.isnull().sum()/len(GlobalLandTemperaturesByMajorCity_df)*100

dt                               0.000000
AverageTemperature               4.599941
AverageTemperatureUncertainty    4.599941
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [89]:
df_UnitedState2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='United States']

In [90]:
df_UnitedState2.isnull().sum()/len(df_UnitedState2)*100

dt                               0.000000
AverageTemperature               2.578356
AverageTemperatureUncertainty    2.578356
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [91]:
df_Italy2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Italy']

In [92]:
df_Italy2.isnull().sum()/len(df_Italy2)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [93]:
df_Mexico2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Mexico']

In [94]:
df_Mexico2.isnull().sum()/len(df_Mexico2)*100

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
City                             0.0
Country                          0.0
Latitude                         0.0
Longitude                        0.0
dtype: float64

In [95]:
df_Germany2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Germany']

In [96]:
df_Germany2.isnull().sum()/len(df_Germany2)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [97]:
df_Turkey2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Turkey']

In [98]:
df_Turkey2.isnull().sum()/len(df_Turkey2)*100

dt                               0.000000
AverageTemperature               2.470178
AverageTemperatureUncertainty    2.470178
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [99]:
df_Japan2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Japan']

In [100]:
df_Japan2.isnull().sum()/len(df_Japan2)*100

dt                               0.000000
AverageTemperature               1.098901
AverageTemperatureUncertainty    1.098901
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [101]:
df_India2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='India']

In [102]:
df_India2.isnull().sum()/len(df_India2)*100

dt                               0.000000
AverageTemperature               5.344158
AverageTemperatureUncertainty    5.344158
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [103]:
df_Brazil2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Brazil']

In [104]:
df_Brazil2.isnull().sum()/len(df_Brazil2)*100

dt                               0.000000
AverageTemperature               6.117556
AverageTemperatureUncertainty    6.117556
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [105]:
df_France2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='France']

In [106]:
df_France2.isnull().sum()/len(df_France2)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [107]:
df_Canada2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Canada']

In [108]:
df_Canada2.isnull().sum()/len(df_Canada2)*100

dt                               0.000000
AverageTemperature               3.025625
AverageTemperatureUncertainty    3.025625
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [109]:
df_China2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='China']

In [110]:
df_China2.isnull().sum()/len(df_China2)*100

dt                               0.000000
AverageTemperature               1.388105
AverageTemperatureUncertainty    1.388105
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [111]:
df_Russia2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Russia']

In [112]:
df_Russia2.isnull().sum()/len(df_Russia2)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [113]:
df_Indonesia2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Indonesia']

In [114]:
df_Indonesia2.isnull().sum()/len(df_Indonesia2)*100

dt                                0.000000
AverageTemperature               17.041943
AverageTemperatureUncertainty    17.041943
City                              0.000000
Country                           0.000000
Latitude                          0.000000
Longitude                         0.000000
dtype: float64

In [115]:
df_Saudiarabia2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Saudi Arabia']

In [116]:
df_Saudiarabia2.isnull().sum()/len(df_Saudiarabia2)*100

dt                               0.00000
AverageTemperature               5.90532
AverageTemperatureUncertainty    5.90532
City                             0.00000
Country                          0.00000
Latitude                         0.00000
Longitude                        0.00000
dtype: float64

In [117]:
df_Australia2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Australia']

In [118]:
df_Australia2.isnull().sum()/len(df_Australia2)*100

dt                               0.000000
AverageTemperature               0.192957
AverageTemperatureUncertainty    0.192957
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [119]:
df_Argentina2= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Argentina']

In [ ]:
df_Argentina2.isnull().sum()/len(df_Argentina2)*100

In [ ]:
frames = [df2_UnitedState, df2_France, df2_Austalia,df2_UnitedKingdon,df2_Canada,df2_SaudiArabia,df2_Indonesia,df2_SouthAfrica,
         df2_India,df2_Mexico,df2_Italy,df2_Brazil,df2_China,df2_Russia,df2_Mexico,df2_Japan,df2_Turkey,df2_Indonesia,df2_Germany]
result = pd.concat(frames)

In [121]:
GlobalLandTemperaturesByState_df = pd.read_csv('GlobalLandTemperaturesByState.csv', sep=',')

In [122]:
GlobalLandTemperaturesByState_df.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil
5  1855-10-01              25.442                          1.179  Acre  Brazil
6  1855-11-01              25.400                          1.064  Acre  Brazil
7  1855-12-01              24.100                          1.718  Acre  Brazil
8  1856-01-01              25.814                          1.159  Acre  Brazil
9  1856-02-01              24.658                          1.147  Acre  Brazil

In [123]:
GlobalLandTemperaturesByMajorCity_df.isnull().sum()/len(GlobalLandTemperaturesByMajorCity_df)*100

dt                               0.000000
AverageTemperature               4.599941
AverageTemperatureUncertainty    4.599941
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [124]:
df_Germany3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Germany']

In [ ]:
df_Germany3.isnull().sum()/len(dfGermany3)*100

In [127]:
df_Italy3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Italy']

In [128]:
df_Italy3.isnull().sum()/len(df_Italy3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [129]:
df_France3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='France']

In [130]:
df_France3.isnull().sum()/len(df_France3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [131]:
df_Japan3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Japan']

In [132]:
df_Japan3.isnull().sum()/len(df_Japan3)*100

dt                               0.000000
AverageTemperature               1.098901
AverageTemperatureUncertainty    1.098901
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [133]:
df_China3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='China']

In [134]:
df_China3.isnull().sum()/len(df_China3)*100

dt                               0.000000
AverageTemperature               1.388105
AverageTemperatureUncertainty    1.388105
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [135]:
df_Russia3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Russia']

In [136]:
df_Russia3.isnull().sum()/len(df_Russia3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [137]:
df_Mexico3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Mexico']

In [138]:
df_Mexico3.isnull().sum()/len(df_Mexico3)*100

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
City                             0.0
Country                          0.0
Latitude                         0.0
Longitude                        0.0
dtype: float64

In [139]:
df_India3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='India']

In [140]:
df_India3.isnull().sum()/len(df_India3)*100

dt                               0.000000
AverageTemperature               5.344158
AverageTemperatureUncertainty    5.344158
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [141]:
df_Turkey3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Turkey']

In [142]:
df_Turkey3.isnull().sum()/len(df_Turkey3)*100

dt                               0.000000
AverageTemperature               2.470178
AverageTemperatureUncertainty    2.470178
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [143]:
df_Germany3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Germany']

In [144]:
df_Germany3.isnull().sum()/len(df_Germany3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [145]:
df_Italy3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Italy']

In [146]:
df_Italy3.isnull().sum()/len(df_Italy3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [147]:
df_Indonesia3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Indonesia']

In [148]:
df_Indonesia3.isnull().sum()/len(df_Indonesia3)*100

dt                                0.000000
AverageTemperature               17.041943
AverageTemperatureUncertainty    17.041943
City                              0.000000
Country                           0.000000
Latitude                          0.000000
Longitude                         0.000000
dtype: float64

In [149]:
df_China3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='China']

In [150]:
df_China3.isnull().sum()/len(df_China3)*100

dt                               0.000000
AverageTemperature               1.388105
AverageTemperatureUncertainty    1.388105
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [151]:
df_Canada3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Canada']

In [152]:
df_Canada3.isnull().sum()/len(df_Canada3)*100

dt                               0.000000
AverageTemperature               3.025625
AverageTemperatureUncertainty    3.025625
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [153]:
df_Australia3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Australia']

In [154]:
df_Australia3.isnull().sum()/len(df_Australia3)*100

dt                               0.000000
AverageTemperature               0.192957
AverageTemperatureUncertainty    0.192957
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [155]:
df_UnitedKingdom3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='United Kingdom']

In [156]:
df_UnitedKingdom3.isnull().sum()/len(df_UnitedKingdom3)*100

dt                               0.000000
AverageTemperature               2.253782
AverageTemperatureUncertainty    2.253782
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [157]:
df_SaudiArabia3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Saudi Arabia']

In [158]:
df_SaudiArabia3.isnull().sum()/len(df_SaudiArabia3)*100

dt                               0.00000
AverageTemperature               5.90532
AverageTemperatureUncertainty    5.90532
City                             0.00000
Country                          0.00000
Latitude                         0.00000
Longitude                        0.00000
dtype: float64

In [159]:
df_UnitedState3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='United States']

In [160]:
df_UnitedState3.isnull().sum()/len(df_UnitedState3)*100

dt                               0.000000
AverageTemperature               2.578356
AverageTemperatureUncertainty    2.578356
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [161]:
df_Brazil3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Brazil']

In [162]:
df_Brazil3.isnull().sum()/len(df_Brazil3)*100

dt                               0.000000
AverageTemperature               6.117556
AverageTemperatureUncertainty    6.117556
City                             0.000000
Country                          0.000000
Latitude                         0.000000
Longitude                        0.000000
dtype: float64

In [163]:
df_Mexico3= GlobalLandTemperaturesByMajorCity_df.loc[GlobalLandTemperaturesByMajorCity_df.Country =='Mexico']

In [164]:
df_Mexico3.isnull().sum()/len(df_Mexico3)*100

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
City                             0.0
Country                          0.0
Latitude                         0.0
Longitude                        0.0
dtype: float64

In [ ]:
frames = [df3_UnitedState, df3_France, df3_Austalia,df3_UnitedKingdon,df3_Canada,df3_SaudiArabia,df3_Indonesia,df3_SouthAfrica,
         df3_India,df3_Mexico,df3_Italy,df3_Brazil,df3_China,df3_Russia,df3_Mexico,df3_Japan,df3_Turkey,df3_Indonesia,df3_Germany]
result3 = pd.concat(frames)

In [ ]:
# création du merge avec les colones comune pour pouvoir faire apres un merge des 5 dataframes

In [170]:
df2=GlobalLandTemperaturesByCity_df
df2 = df2.drop(['City','Latitude', 'Longitude'], axis=1)
df2

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,6.068,1.737,Denmark
1,1743-12-01,NaN,NaN,Denmark
2,1744-01-01,NaN,NaN,Denmark
3,1744-02-01,NaN,NaN,Denmark
4,1744-03-01,NaN,NaN,Denmark
...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Netherlands
8599208,2013-06-01,15.043,0.261,Netherlands
8599209,2013-07-01,18.775,0.193,Netherlands
8599210,2013-08-01,18.025,0.298,Netherlands
8599211,2013-09-01,NaN,NaN,Netherlands

In [171]:
df4= pd.read_csv("GlobalLandTemperaturesByMajorCity.csv",index_col=0)
df4 = df4.drop(['City','Latitude','Longitude'],axis=1)
df4

            AverageTemperature  AverageTemperatureUncertainty        Country
dt
1849-01-01              26.704                          1.435  Côte D'Ivoire
1849-02-01              27.434                          1.362  Côte D'Ivoire
1849-03-01              28.101                          1.612  Côte D'Ivoire
1849-04-01              26.140                          1.387  Côte D'Ivoire
1849-05-01              25.427                          1.200  Côte D'Ivoire
...                        ...                            ...            ...
2013-05-01              18.979                          0.807          China
2013-06-01              23.522                          0.647          China
2013-07-01              25.251                          1.042          China
2013-08-01              24.528                          0.840          China
2013-09-01                 NaN                            NaN          China

[239177 rows x 3 columns]

In [172]:
df5=GlobalLandTemperaturesByState_df
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

In [173]:
df5= pd.read_csv("GlobalLandTemperaturesByState.csv",index_col=0)
df5

,AverageTemperature,AverageTemperatureUncertainty,State,Country
dt,,,,
1855-05-01,25.544,1.171,Acre,Brazil
1855-06-01,24.228,1.103,Acre,Brazil
1855-07-01,24.371,1.044,Acre,Brazil
1855-08-01,25.427,1.073,Acre,Brazil
1855-09-01,25.675,1.014,Acre,Brazil
...,...,...,...,...
2013-05-01,21.634,0.578,Zhejiang,China
2013-06-01,24.679,0.596,Zhejiang,China
2013-07-01,29.272,1.340,Zhejiang,China
2013-08-01,29.202,0.869,Zhejiang,China
2013-09-01,NaN,NaN,Zhejiang,China

In [175]:
frames = [df1, df2, df4,df5]
df8 = pd.concat(frames)
df8

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,State
0,1743-11-01,4.384,2.294,Åland,NaN
1,1743-12-01,NaN,NaN,Åland,NaN
2,1744-01-01,NaN,NaN,Åland,NaN
3,1744-02-01,NaN,NaN,Åland,NaN
4,1744-03-01,NaN,NaN,Åland,NaN
...,...,...,...,...,...
2013-05-01,NaN,21.634,0.578,China,Zhejiang
2013-06-01,NaN,24.679,0.596,China,Zhejiang
2013-07-01,NaN,29.272,1.340,China,Zhejiang
2013-08-01,NaN,29.202,0.869,China,Zhejiang
2013-09-01,NaN,NaN,NaN,China,Zhejiang

In [ ]:
df8.to_csv(dataframe_merge.csv, sep=',', encoding='utf-8')

Etude  de  la  valeurs  manquante

In [176]:
%pip  install missingno

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: missingno in c:\users\utilisateur\anaconda3\lib\site-packages (0.4.2)

Requirement already satisfied: matplotlib in c:\users\utilisateur\anaconda3\lib\site-packages (from missingno) (3.2.2)
Requirement already satisfied: scipy in c:\users\utilisateur\anaconda3\lib\site-packages (from missingno) (1.5.0)
Requirement already satisfied: seaborn in c:\users\utilisateur\anaconda3\lib\site-packages (from missingno) (0.10.1)
Requirement already satisfied: numpy in c:\users\utilisateur\anaconda3\lib\site-packages (from missingno) (1.17.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\utilisateur\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\utilisateur\anaconda3\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\utilisateur\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\utilisateur\anaconda3\lib\site-packages (from matplotlib->missingno) (2.4.7)
Requirement already satisfied: pandas>=0.22.0 in c:\users\utilisateur\anaconda3\lib\site-packages (from seaborn->missingno) (1.0.5)
Requirement already satisfied: six>=1.5 in c:\users\utilisateur\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\utilisateur\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn->missingno) (2020.1)

In [177]:
import missingno as  msno

In [178]:
pourcentage=(df8.isnull().sum()/10061526)*100
print(pourcentage)

dt                                8.794412
AverageTemperature                4.307806
AverageTemperatureUncertainty     4.300461
Country                           0.000000
State                            93.582733
dtype: float64

In [179]:
median = df8['AverageTemperature'].median()
df8['AverageTemperature'].fillna(median, inplace=True)
median = df8['AverageTemperatureUncertainty'].median()
df8['AverageTemperatureUncertainty'].fillna(median, inplace=True)
df8
df8.isnull().sum()

dt                                884852
AverageTemperature                     0
AverageTemperatureUncertainty          0
Country                                0
State                            9415851
dtype: int64

In [180]:
df8.median()

AverageTemperature               18.559
AverageTemperatureUncertainty     0.592
dtype: float64

In [181]:
# Etude de la saisonalité

Création du dataframe pour les  graphiques  de  chaque  continent du monde.

In [ ]:
pd.unique(df8.Country)

In [ ]:
total_number=len(pd.unique(df8.Country))
print(total_number)

In [ ]:
#code pour transformer un DataFrame en csv 
#df8.to_csv(r'/content/C:\Users\Utilisateur\Desktop\burreau\merge_fichier_rechauffement_climatique.csv', index = False, header=True)

In [182]:
import time

In [183]:
import itertools as it
# Define the p, d and q parameters to take any value between 0 and 2
p = d = q = range(-40, 40)

# Generate all different combinations of p, q and q triplets
pdq = list( it.product(p, d, q))

# Generate all different combinations of seasonal p, q and q triplets
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(it.product(p, d, q))]
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[1]))
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[2]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[3]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[4]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[5]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[6]))

SARIMAX: (-40, -40, -39) x (-40, -40, -39, 12)
SARIMAX: (-40, -40, -39) x (-40, -40, -38, 12)
SARIMAX: (-40, -40, -38) x (-40, -40, -37, 12)
SARIMAX: (-40, -40, -38) x (-40, -40, -36, 12)
SARIMAX: (-40, -40, -38) x (-40, -40, -35, 12)
SARIMAX: (-40, -40, -38) x (-40, -40, -34, 12)

In [ ]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(df_merge,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
            results = mod.fit()
            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

In [ ]:

mod = sm.tsa.statespace.SARIMAX(y,
                                order=(1, 1, 1),
                                seasonal_order=(1, 1, 1, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False)

results = mod.fit()
print(results.summary().tables[1])

In [ ]:
results.plot_diagnostics(figsize=(15, 12))
plt.show()

In [ ]:
ax = df8['1750':].plot(label='observed')
pred.predicted_mean.plot(ax=ax, label='One-step ahead Forecast', alpha=.7)

ax.fill_between(pred_ci.index,
                pred_ci.iloc[:, 0],
                pred_ci.iloc[:, 1], color='k', alpha=.2)

ax.set_xlabel('Date')
ax.set_ylabel('TEMPERATURE')
plt.legend()

plt.show()